#navbar {
    background-color: rgba(84, 207, 207, 0.74); 
}

header {
    background-color: rgba(58, 165, 151, 0.294);
    color: black;
}

h1 {
    background-color: rosybrown;
}

ul {
    list-style: none;
}